<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Persons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Persons</h1>
<!--    <span th:if="${persons.size() == 0}">Person List is empty</span>-->
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>City</th>
<!--            <td></td>-->
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td th:text="${person.id}"/>
            <td th:text="${person.firstname}"/>
            <td th:text="${person.lastname}"/>
            <td th:text="${person.city}"/>
<!--            <td><a class="btn btn-secondary" th:href="@{'/peson/save' + ${product.id}}">Add Person</a></td>-->
            <td><a class="btn btn-danger" th:href="@{'/person/delete/' + ${person.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>